@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100,700);

* {
  font-family: Lato;
  box-sizing: border-box;
}

body, html, .layout, #main {
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

body {
  background-color: #f2f2f2;
  color: #979CAE;
}

pre {
  margin: 0;
  border: 0;
  /*border-radius: 2px;
  box-shadow: 0 0 3px rgba(0,0,0,.15)*/
}

input[type=text] {
  color: #979CAE;
  margin: 0;
  padding: 0;
}

.red { color: #FF4994; }
.yellow { color: #FFC469; }
.green { color: #53C777; }

.topBar {
  background: #fffeff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1em;
}

.topBar .logo {
  flex: 1;
  max-width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #008976;
  color: white;
  height: 100%
}

.topBar * {
  transition: 300ms;
}

.topBar.error .logo {
  background: #C93838;
}

.topBar .logoText1 {
  font-weight: 300;
  font-size: 1.5em;
}

.topBar .logoText2 {
  font-weight: 900;
  font-size: 1.5em;
}

.spacer {
  flex: 1;
}

.topBar .patternWrapper {
  display: flex;
  align-items: center;
  flex: 1;
  margin-left: .5em;
}

.topBar .patternWrapper label {
  font-size: 1rem;
  margin-right: .5em;
  margin-bottom: 0;
  opacity: 0.5;
}

.topBar .patternWrapper input {
  font-size: 1.8rem;
  height: auto;
  border: none;
}

button.naked {
  background: none;
  border: none;
  text-transform: none;
  height: auto;
  border-radius: 0;
  padding: 0;
  margin: 0;
  line-height: normal;
}

.topBar button {
  font-size: .75em;
  padding: 0 2em;
  background-color: #008976;
  margin: 0;
  margin-left: .5em;
  border-radius: 2px;
  line-height: normal;
  height: 2.2em;
  display: block;
  border: 3px solid #008976;
}

.topBar button:focus {
  border: 3px solid #49C3FF;
}

.topBar {
  height: 75px;
  border-bottom: 0px;
  transition: 300ms;
}

.topBar.error {
  border-bottom: 3px solid #C93838 !important;
}

.topBar .errorMessage {
  color: #C93838;
  font-weight: 500;
}

.main {
  display: flex;
  height: calc(100vh - 75px);
}

.main .blockList {
  background: #282a35;
  flex: 1;
  height: calc(100vh - 75px);
  min-width: 250px;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: scroll;
}

.main button.block {
  background: transparent;
  margin: 0;
  border: none;
  padding: 1em;
  opacity: 0.75;
  transition: 300ms;
  font-weight: 700;
  font-size: .8em;
  display: flex;
  align-items: center;
  text-transform: none;
  height: auto;
  line-height: normal;
  letter-spacing: normal;
  border-radius: 0;
  min-height: 45px;
}

.main button.block:focus {
  opacity: .9;
  background: rgba(255,255,255,.1);
}

.main .block-with-children-wrapper {
  display: flex;
  min-height: 45px;
}

.main .block-with-children-wrapper .block {
  flex: 1;
  overflow: hidden;
}

.main .block i.left {
  font-size: 1.3em;
  display: block;
  margin-right: .5em;
}

.main .block i.right {
  font-size: 1.3em;
  display: block;
}

.main .block.active {
  color: #FF4994;
  opacity: 1;
}

.main .blockText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main .blockText::first-letter {
  text-transform: capitalize;
}

.main .detailWrapper {
  background: tranparent;
  flex: 2.5;
  padding: 12px;
}

.main .detail {
  padding: 1em;
  background-color: white;
  color: #3c3f44;
  height: calc(100vh - 99px);
  border: 1px solid hsl(0,0%,90%);
  border-radius: 2px;
  overflow: scroll
}

button.back-button {
  background: none;
  border: none;
  text-transform: none;
  font-size: 12px;
  height: auto;
  border-bottom: 1px solid rgba(255,255,255,.2);
  border-radius: 0;
  text-align: left;
  padding: 0;
  padding-left: 1rem;
  margin: 0;
  line-height: 3em;
}

button.back-button:hover,
button.back-button:focus {
  color: #FFC469;
}

button.back-button i {
  margin-right: .5em;
}

button.next-button {
  font-size: 16px;
  padding-left: .5em;
  padding-right: 1em;
}

button.next-button:focus,
button.next-button:hover {
  color: #FFC469;
}
